import React, { useEffect } from 'react'
import { useLocalStore } from 'mobx-react'
import io from './io'
import {{componentName}}Store from './store'

export default function {{componentName}}(props) {
  const store = useLocalStore(() => new {{componentName}}Store())
  useEffect(() => {
    return () => {
      store.destroy()
    }
  })
  return (
    <div className="{{name}}-page">
      {{name}} page
    </div>
  )
}
